swagger: '2.0'
info:
  description: Api Documentation
  version: '1.0'
  title: Api Documentation
  termsOfService: 'urn:tos'
  contact:
    name: Contact Email
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0'
host: 'inmbz2239.in.dst.ibm.com:8082'
basePath: /psd2api
tags:
  - name: admin-controller
    description: Admin Controller
  - name: pisp-controller
    description: PISP Controller
  - name: aip-controller
    description: AIP Controller
  - name: subscription-management-controller
    description: Subscription Management Controller
  - name: basic-error-controller
    description: Basic Error Controller
  - name: subscription-request-controller
    description: Subscription Request Controller
paths:
  /admin/account:
    post:
      tags:
        - admin-controller
      summary: createAccount
      operationId: createAccountUsingPOST
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: b
          description: b
          required: true
          schema:
            $ref: '#/definitions/BankAccountDetailsBean'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/SimpleResponseBean'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /admin/bank:
    post:
      tags:
        - admin-controller
      summary: createBank
      operationId: createBankUsingPOST
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: b
          description: b
          required: true
          schema:
            $ref: '#/definitions/BankBean'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/SimpleResponseBean'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  '/admin/subscription/{id}':
    post:
      tags:
        - subscription-management-controller
      summary: createSubscription
      operationId: createSubscriptionUsingPOST
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: id
          in: path
          description: id
          required: true
          type: string
        - in: body
          name: cab
          description: cab
          required: true
          schema:
            $ref: '#/definitions/ChallengeAnswerBean'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/SimpleResponseBean'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /banks:
    get:
      tags:
        - aip-controller
      summary: getBanks
      operationId: getBanksUsingGET
      consumes:
        - application/json
      produces:
        - application/json
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/BankBean'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  '/banks/{bankId}':
    get:
      tags:
        - aip-controller
      summary: getBankById
      operationId: getBankByIdUsingGET
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: bankId
          in: path
          description: bankId
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/BankBean'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  '/banks/{bankId}/accounts/{accountId}/{viewId}/account':
    get:
      tags:
        - aip-controller
      summary: getAccountById
      operationId: getAccountByIdUsingGET
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: bankId
          in: path
          description: bankId
          required: true
          type: string
        - name: accountId
          in: path
          description: accountId
          required: true
          type: string
        - name: viewId
          in: path
          description: viewId
          required: true
          type: string
        - name: user
          in: header
          description: user
          required: true
          type: string
        - name: client
          in: header
          description: client
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/BankAccountDetailsViewBean'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  '/banks/{bankId}/accounts/{accountId}/{viewId}/transaction-request-types':
    get:
      tags:
        - pisp-controller
      summary: getTransactionRequestTypes
      operationId: getTransactionRequestTypesUsingGET
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: bankId
          in: path
          description: bankId
          required: true
          type: string
        - name: accountId
          in: path
          description: accountId
          required: true
          type: string
        - name: viewId
          in: path
          description: viewId
          required: true
          type: string
        - name: user
          in: header
          description: user
          required: true
          type: string
        - name: client
          in: header
          description: client
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/TransactionRequestTypeBean'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  '/banks/{bankId}/accounts/{accountId}/{viewId}/transaction-request-types/{txnType}/transaction-requests':
    post:
      tags:
        - pisp-controller
      summary: createTransactionRequest
      operationId: createTransactionRequestUsingPOST
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: bankId
          in: path
          description: bankId
          required: true
          type: string
        - name: accountId
          in: path
          description: accountId
          required: true
          type: string
        - name: viewId
          in: path
          description: viewId
          required: true
          type: string
        - name: txnType
          in: path
          description: txnType
          required: true
          type: string
        - in: body
          name: trb
          description: trb
          required: true
          schema:
            $ref: '#/definitions/TxnRequestBean'
        - name: user
          in: header
          description: user
          required: true
          type: string
        - name: client
          in: header
          description: client
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/TxnRequestDetailsBean'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  '/banks/{bankId}/accounts/{accountId}/{viewId}/transaction-request-types/{txnType}/transaction-requests/{txnReqId}/challenge':
    post:
      tags:
        - pisp-controller
      summary: answerTransactionChallenge
      operationId: answerTransactionChallengeUsingPOST
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: bankId
          in: path
          description: bankId
          required: true
          type: string
        - name: accountId
          in: path
          description: accountId
          required: true
          type: string
        - name: viewId
          in: path
          description: viewId
          required: true
          type: string
        - name: txnType
          in: path
          description: txnType
          required: true
          type: string
        - name: txnReqId
          in: path
          description: txnReqId
          required: true
          type: string
        - in: body
          name: t
          description: t
          required: true
          schema:
            $ref: '#/definitions/ChallengeAnswerBean'
        - name: user
          in: header
          description: user
          required: true
          type: string
        - name: client
          in: header
          description: client
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/TxnRequestDetailsBean'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  '/banks/{bankId}/accounts/{accountId}/{viewId}/transaction-requests':
    get:
      tags:
        - pisp-controller
      summary: getTransactionRequests
      operationId: getTransactionRequestsUsingGET
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: bankId
          in: path
          description: bankId
          required: true
          type: string
        - name: accountId
          in: path
          description: accountId
          required: true
          type: string
        - name: viewId
          in: path
          description: viewId
          required: true
          type: string
        - name: user
          in: header
          description: user
          required: true
          type: string
        - name: client
          in: header
          description: client
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/TxnRequestDetailsBean'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  '/banks/{bankId}/accounts/{accountId}/{viewId}/transactions':
    get:
      tags:
        - aip-controller
      summary: getTransactions
      operationId: getTransactionsUsingGET
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: bankId
          in: path
          description: bankId
          required: true
          type: string
        - name: accountId
          in: path
          description: accountId
          required: true
          type: string
        - name: viewId
          in: path
          description: viewId
          required: true
          type: string
        - name: obp_sort_direction
          in: header
          description: sortDirection
          required: false
          type: string
        - name: obp_limit
          in: header
          description: limit
          required: false
          type: integer
          format: int32
        - name: obp_from_date
          in: header
          description: fromDate
          required: false
          type: string
        - name: obp_to_date
          in: header
          description: toDate
          required: false
          type: string
        - name: obp_sort_by
          in: header
          description: sortBy
          required: false
          type: string
        - name: obp_offset
          in: header
          description: number
          required: false
          type: integer
          format: int32
        - name: user
          in: header
          description: user
          required: true
          type: string
        - name: client
          in: header
          description: client
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/TransactionBean'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  '/banks/{bankId}/accounts/{accountId}/{viewId}/transactions/{txnId}/transaction':
    get:
      tags:
        - aip-controller
      summary: getTransactionById
      operationId: getTransactionByIdUsingGET
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: bankId
          in: path
          description: bankId
          required: true
          type: string
        - name: accountId
          in: path
          description: accountId
          required: true
          type: string
        - name: viewId
          in: path
          description: viewId
          required: true
          type: string
        - name: txnId
          in: path
          description: txnId
          required: true
          type: string
        - name: user
          in: header
          description: user
          required: true
          type: string
        - name: client
          in: header
          description: client
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/TransactionBean'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /error:
    get:
      tags:
        - basic-error-controller
      summary: errorHtml
      operationId: errorHtmlUsingGET
      consumes:
        - application/json
      produces:
        - text/html
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ModelAndView'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
    head:
      tags:
        - basic-error-controller
      summary: errorHtml
      operationId: errorHtmlUsingHEAD
      consumes:
        - application/json
      produces:
        - text/html
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ModelAndView'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
    post:
      tags:
        - basic-error-controller
      summary: errorHtml
      operationId: errorHtmlUsingPOST
      consumes:
        - application/json
      produces:
        - text/html
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ModelAndView'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
    put:
      tags:
        - basic-error-controller
      summary: errorHtml
      operationId: errorHtmlUsingPUT
      consumes:
        - application/json
      produces:
        - text/html
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ModelAndView'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
    delete:
      tags:
        - basic-error-controller
      summary: errorHtml
      operationId: errorHtmlUsingDELETE
      consumes:
        - application/json
      produces:
        - text/html
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ModelAndView'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
    options:
      tags:
        - basic-error-controller
      summary: errorHtml
      operationId: errorHtmlUsingOPTIONS
      consumes:
        - application/json
      produces:
        - text/html
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ModelAndView'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
    patch:
      tags:
        - basic-error-controller
      summary: errorHtml
      operationId: errorHtmlUsingPATCH
      consumes:
        - application/json
      produces:
        - text/html
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ModelAndView'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
  '/my/banks/{bankId}/accounts':
    get:
      tags:
        - aip-controller
      summary: getBankAccounts
      operationId: getBankAccountsUsingGET
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: bankId
          in: path
          description: bankId
          required: true
          type: string
        - name: user
          in: header
          description: user
          required: true
          type: string
        - name: client
          in: header
          description: client
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/BankAccountOverviewBean'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  '/my/banks/{bankId}/accounts/{accountId}/account':
    get:
      tags:
        - aip-controller
      summary: getAccountById
      operationId: getAccountByIdUsingGET_1
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: bankId
          in: path
          description: bankId
          required: true
          type: string
        - name: accountId
          in: path
          description: accountId
          required: true
          type: string
        - name: user
          in: header
          description: user
          required: true
          type: string
        - name: client
          in: header
          description: client
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/BankAccountDetailsViewBean'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /subscription:
    get:
      tags:
        - subscription-request-controller
      summary: getSubscriptionInfo
      operationId: getSubscriptionInfoUsingGET
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: user
          in: header
          description: user
          required: true
          type: string
        - name: client
          in: header
          description: client
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/SubscriptionInfoBean'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /subscription/request:
    post:
      tags:
        - subscription-request-controller
      summary: createSubscription
      operationId: createSubscriptionUsingPOST_1
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: s
          description: s
          required: true
          schema:
            $ref: '#/definitions/SubscriptionRequestBean'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/SubscriptionRequestBean'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
definitions:
  BankAccountDetailsViewBean:
    properties:
      balance:
        $ref: '#/definitions/AmountBean'
      bank_id:
        type: string
      iban:
        type: string
      id:
        type: string
      label:
        type: string
      number:
        type: string
      owners:
        type: array
        items:
          $ref: '#/definitions/BankAccountOwnerBean'
      swift_bic:
        type: string
      type:
        type: string
      username:
        type: string
  TransactionAccountBean:
    properties:
      bank:
        $ref: '#/definitions/TransactionBankBean'
      holders:
        type: array
        items:
          $ref: '#/definitions/BankAccountOwnerBean'
      iban:
        type: string
      id:
        type: string
      kind:
        type: string
      number:
        type: string
      swift_bic:
        type: string
  TxnRequestBean:
    properties:
      description:
        type: string
      to:
        $ref: '#/definitions/TxnPartyBean'
      transaction_request_type:
        type: string
      value:
        $ref: '#/definitions/AmountBean'
  BankAccountOverviewBean:
    properties:
      bank_id:
        type: string
      id:
        type: string
      label:
        type: string
  ModelAndView:
    properties:
      empty:
        type: boolean
      model:
        type: object
      modelMap:
        type: object
        additionalProperties:
          type: object
      reference:
        type: boolean
      view:
        $ref: '#/definitions/View'
      viewName:
        type: string
  TxnPartyBean:
    properties:
      account_id:
        type: string
      bank_id:
        type: string
  AmountBean:
    properties:
      amount:
        type: number
        format: double
      currency:
        type: string
  TransactionBankBean:
    properties:
      name:
        type: string
      national_identifier:
        type: string
  TransactionRequestTypeBean:
    properties:
      value:
        type: string
  TransactionBean:
    properties:
      details:
        $ref: '#/definitions/TransactionDetailsBean'
      id:
        type: string
      other_account:
        $ref: '#/definitions/TransactionAccountBean'
      this_account:
        $ref: '#/definitions/TransactionAccountBean'
  ViewIdBean:
    properties:
      id:
        type: string
  SubscriptionRequestBean:
    properties:
      challenge:
        $ref: '#/definitions/ChallengeBean'
      creationDate:
        type: string
        format: date-time
      id:
        type: string
      status:
        type: string
      subscriptionInfo:
        $ref: '#/definitions/SubscriptionInfoBean'
      updatedDate:
        type: string
        format: date-time
  SimpleResponseBean:
    properties:
      responseCode:
        type: string
      responseMessage:
        type: string
  ModelMap:
    type: object
    additionalProperties:
      type: object
  TransactionDetailsBean:
    properties:
      completed:
        type: string
        format: date-time
      description:
        type: string
      new_balance:
        $ref: '#/definitions/AmountBean'
      posted:
        type: string
        format: date-time
      type:
        type: string
      value:
        $ref: '#/definitions/AmountBean'
  View:
    properties:
      contentType:
        type: string
  BankBean:
    properties:
      full_name:
        type: string
      id:
        type: string
      logo:
        type: string
      short_name:
        type: string
      website:
        type: string
  TxnRequestDetailsBean:
    properties:
      body:
        $ref: '#/definitions/TxnRequestBean'
      challenge:
        $ref: '#/definitions/ChallengeBean'
      charge:
        $ref: '#/definitions/TxnChargeBean'
      end_date:
        type: string
        format: date-time
      from:
        $ref: '#/definitions/TxnPartyBean'
      id:
        type: string
      start_date:
        type: string
        format: date-time
      status:
        type: string
      transaction_ids:
        type: string
      type:
        type: string
  TransactionLimitBean:
    properties:
      amount:
        $ref: '#/definitions/AmountBean'
      transaction_request_type:
        $ref: '#/definitions/TransactionRequestTypeBean'
  BankAccountOwnerBean:
    properties:
      display_name:
        type: string
      id:
        type: string
      provider:
        type: string
  TxnChargeBean:
    properties:
      summary:
        type: string
      value:
        $ref: '#/definitions/AmountBean'
  BankAccountDetailsBean:
    properties:
      balance:
        $ref: '#/definitions/AmountBean'
      bank_id:
        type: string
      iban:
        type: string
      id:
        type: string
      label:
        type: string
      number:
        type: string
      owners:
        type: array
        items:
          $ref: '#/definitions/BankAccountOwnerBean'
      swift_bic:
        type: string
      type:
        type: string
      username:
        type: string
  SubscriptionInfoBean:
    properties:
      accountId:
        type: string
      bank_id:
        type: string
      clientId:
        type: string
      limits:
        type: array
        items:
          $ref: '#/definitions/TransactionLimitBean'
      status:
        type: string
      transaction_request_types:
        type: array
        items:
          $ref: '#/definitions/TransactionRequestTypeBean'
      username:
        type: string
      viewIds:
        type: array
        items:
          $ref: '#/definitions/ViewIdBean'
  ChallengeAnswerBean:
    properties:
      answer:
        type: string
      id:
        type: string
  ChallengeBean:
    properties:
      allowed_attempts:
        type: integer
        format: int32
      challenge_type:
        type: string
      id:
        type: string
